/* src/styles/fonts.css */
@font-face {
  font-family: "InstrumentSansBold";
  src: url("../assets/fonts/Instrument_Sans/InstrumentSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ItimRegular";
  src: url("../assets/fonts/Itim/Itim-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Jersey25";
  src: url("../assets/fonts/Jersey_25/Jersey25-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* @link https://utopia.fyi/type/calculator?c=320,17,1.125,1920,20,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
  --step--2: clamp(0.7rem, calc(0.87rem + -0.14vw), 0.84rem);
  --step--1: clamp(0.94rem, calc(0.95rem + -0.01vw), 0.94rem);
  --step-0: clamp(1.06rem, calc(1.03rem + 0.19vw), 1.25rem);
  --step-1: clamp(1.2rem, calc(1.1rem + 0.47vw), 1.67rem);
  --step-2: clamp(1.35rem, calc(1.17rem + 0.88vw), 2.22rem);
  --step-3: clamp(1.51rem, calc(1.22rem + 1.45vw), 2.96rem);
  --step-4: clamp(1.7rem, calc(1.25rem + 2.25vw), 3.95rem);
  --step-5: clamp(1.91rem, calc(1.25rem + 3.35vw), 5.26rem);
  --step-6: clamp(2.15rem, calc(1.18rem + 4.86vw), 7.01rem);
  --font-components: "InstrumentSansBold", sans-serif;
  --font-text-p: "ItimRegular", sans-serif;
  --font-titles-h: "Jersey25", sans-serif;
  /* Colores */
  --color-buttons: #ef4b29;
  --color-buttons-hover: #db4325;
  --color-nav-footer: #1b3b50;
  --color-footer: #283f4d;
  --color-text: #fff;
  --color-text-two: #000;
  --color-lines: #1b3b50;
  --image-login: url("../assets/imgs/Login_background.jpg");
}

/* Reset de CSS predeterminado */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 100%;
  /* 16px */
}

body {
  scroll-behavior: smooth;
  font-family: var(--text-p);
  color: var(--color-text);
  overflow-x: hidden;
}

/* Ajustes adicionales */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

p {
  font-size: var(--step-0);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

h6 {
  font-size: var(--step-0);
}

i {
  color: white;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: var(--color-lines);
  margin: 1rem;
}

/* views */

/*--------------- login------------------ */
.background-login {
  background-image: var(--image-login);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link-to-house {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.item-nav-login {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  align-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  height: auto;
  color: white;
  margin-left: 1rem;

  li {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: white;
  }

  li:hover {
    transform: scale(1.1);
    color: var(--color-buttons-hover);
    transition: all 0.1s ease-in-out;
  }

}


.form-login {
  width: 35%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa09;
  box-shadow: #00000094 0.1px 0.1px 10px;
  border-radius: 10%;
  z-index: 2;
  padding: 0.5rem 0;
}

.image-form-login {
  margin: 0;
  padding: 0;

  img {
    width: 10rem;
    height: auto;
  }
}

.title-form-login {
  font-family: var(--font-titles-h);
  margin: 0;
  text-align: center;

  h1 {
    font-size: 2rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.664);
  }
}

.form-login-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.labels-form {
  font-family: var(--font-components);
  font-size: 1rem;
  margin: 0;
  text-shadow: 2px 2px 5px black;
}

.labels-form-two {
  font-family: var(--font-components);
  font-size: 1rem;
  text-shadow: 2px 2px 5px black;
}

.btn-color {
  background-color: var(--color-buttons);
  color: var(--color-text);
  font-family: var(--font-components);
  font-size: 1.2rem;
  border-radius: 2rem;
  width: 100%;
  padding: 0.1rem;
  margin-bottom: 1.5rem;
  text-shadow: 0.1px 0.1px 1px rgba(0, 0, 0, 0.521);
}

.btn-color:hover {
  background-color: var(--color-buttons-hover);
}

.btn-color-small {
  background-color: var(--color-buttons);
  color: var(--color-text);
  font-family: var(--font-components);
  font-size: 1.2rem;
  border-radius: 2rem;
  width: 20%;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  text-shadow: 0.1px 0.1px 1px rgba(0, 0, 0, 0.521);
}

.btn-color-small:hover {
  background-color: var(--color-buttons-hover);
}

.inputs-form {
  width: 100%;
  height: 2.1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-text);
  font-family: var(--font-components);
  font-size: 1rem;
  text-align: center;
}

.inputs-form::placeholder {
  text-align: start;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}

/*      register         */
.form-register {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa09;
  box-shadow: #00000094 0.1px 0.1px 10px;
  border-radius: 10%;
  z-index: 2;
  padding: 0.5rem 0;
}

.image-form-register {
  margin: 0;
  padding: 0;

  img {
    width: 10rem;
    height: auto;
  }
}

.title-form-register {
  font-family: var(--font-titles-h);
  margin: 0;
  text-align: center;

  h2 {
    font-size: 2rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.664);
  }
}

.form-register-inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.position-form-register {
  display: flex;
  width: 100%;

  section {
    margin: 0 3rem;
  }
}

/*----------------- dashboard----------------- */
.dashboard-admin {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*----------------------- navbar --------------*/
.header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: var(--color-nav-footer);
}

.header-logo {
  display: flex;
  justify-content: center;
  max-width: 5%;
  height: auto;
  background-color: var(--color-buttons-hover);

  img {
    width: 3rem;
    height: auto;
  }
}

.header-title {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: flex-start;

  p {
    margin: 0 1rem;
    font-family: var(--font-text-p);
  }
}

.header-info {
  width: 50%;
  height: auto;
  margin: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}

.user-info {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0 1rem;
  background-color: var(--color-buttons-hover);
  padding: 0.2rem;
  border-radius: 10px;

  p {
    margin: 0;
    font-family: var(--font-text-p);
  }
}

.click-info {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0 1rem;
  margin: 0 1rem;
  padding: 0;

  i {
    font-size: 1.8rem;
  }
}

.nav-view {
  display: flex;
  width: 100%;
  height: auto;
}

.navbar {
  background-color: var(--color-nav-footer);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.item-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  height: 80%;
  color: white;

  li {
    font-size: 2rem;
    margin: 1rem 0;
    color: white;
  }

  li:hover {
    transform: scale(1.1);
    color: var(--color-buttons-hover);
    transition: all 0.1s ease-in-out;
  }

  button {
    font-size: 2rem;
    margin: 1rem 0;
  }

  button:hover {
    transform: scale(1.1);
    color: var(--color-buttons-hover);
    transition: all 0.1s ease-in-out;
  }
}

.view {
  min-width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 5rem;
  background-color: var(--color-nav-footer);
}

.footer-info {
  padding: 2rem;
  display: flex;
  background-color: var(--color-footer);
}

.content-footer-one {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  font-family: var(--font-titles-h);
}

.content-footer-two {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;

  h5 {
    font-family: var(--font-titles-h);
  }

  p {
    font-family: var(--font-text-p);
    margin: 0;
    padding: 0;
  }
}

.footer-copy {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--font-text-p);
  margin-top: 0.5rem;

  p {
    margin: 0;
    padding: 0;
  }
}

.views {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-text-p);

  h2 {
    margin: 0 auto;
    width: 50%;
    font-family: var(--font-titles-h);
    text-align: center;
    border-bottom: 4px solid var(--color-lines);
    margin-bottom: 5rem;
  }
}

.view-inicio-admin {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;

  p {
    font-size: 1.5rem;
    width: 90%;
    text-align: justify;
  }
}

.view-inicio-user {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;

  p {
    font-size: 1.5rem;
    width: 90%;
    text-align: justify;
  }
}

.contain-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 12rem;
    height: auto;
  }

  p {
    font-weight: 800 !important;
    text-align: center !important;
  }
}

.content-cards {
  margin: 0 auto;
  width: 80%;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-icon {
  display: flex;
  justify-content: center;
  width: 100%;

  i {
    text-align: center;
    font-size: 4rem;
    width: 100%;
    color: var(--color-buttons);
    padding: 0;
    margin: 0;
  }
}

.card-title {
  height: auto;
  display: flex;
  justify-content: center;

  p {
    text-align: center;
    width: 90%;
    padding: 0;
    border-radius: 109px;
    box-shadow: 0.5px 0.5px 0.5pxrrgba (0, 0, 0, 0.37);
    margin: 0;
    font-size: 1.5rem;
    font-family: var(--font-text-p);
  }
}

.card-data {
  display: flex;
  justify-content: center;

  span {
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    font-family: var(--font-text-p);
  }
}

.view-catalogo {
  color: black;
}

.view-usuarios {
  color: black;
}

.user-tables {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  table {
    text-align: center;
    font-family: var(--font-text-p);
  }

  td {
    padding: 1rem;

    button {
      margin: 0.1rem;
    }
  }
}

.view-estadisticas {
  color: black;
}

.add-book {
  margin: 0 auto;
  width: 90%;
  margin: 1rem 0;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.content-catalogo {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
}

.row-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.card-catalogo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.title-genero {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;

  h3 {
    width: 15%;
    text-align: center;
    background-color: var(--color-buttons);
    font-family: var(--font-titles-h);
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: 10rem;
    color: var(--color-text);
  }
}

.row-cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  border-top: 5px solid var(--color-lines);
  border-bottom: 5px solid var(--color-lines);
}

.cards-books {
  margin: 2rem;
  text-align: center;

  img {
    border-radius: 10px;
    width: 10rem;
    height: auto;
  }
}

.form-book {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;
  z-index: 2;
  padding: 0.5rem 0;
}

.title-form-book {
  font-family: var(--font-titles-h);
  margin: 0;
  text-align: center;

  h2 {
    font-size: 2rem;
    color: var(--color-text-two);
    margin-bottom: 2rem;
  }
}

.position-form-books {
  display: flex;
  width: 100%;

  section {
    margin: 0 3rem;
  }
}

.form-books-inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.labels-form-book {
  font-family: var(--font-components);
  font-size: 1rem;
  color: var(--color-nav-footer);
  margin: 0;
}

.inputs-form-book {
  width: 100%;
  height: 2.1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-text);
  font-family: var(--font-components);
  font-size: 1rem;
  text-align: center;
  background-color: rgb(214, 214, 214);
}

.inputs-form-book::placeholder {
  text-align: start;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}

.form-action-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.charts-js {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.row-one {
  margin: 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.grapic-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 25rem;
  height: auto;
}

.chart-pie {
  padding: 1rem;
  margin: 2rem;
}

.view-books {
  h2 {
    width: auto;
  }
}

.title-orange {
  color: var(--color-buttons);
  text-shadow: 1px 1px 2px var(--color-buttons);
  font-size: 2rem !important;
  text-align: center !important;
}

/************* book-information *******************/
.books-information-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: var(--font-titles-h);

  h2 {
    border-bottom: var(--color-lines) 0.2rem solid;
  }
}

.books-information {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
  margin: 1rem;
}

.book-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 20rem;
    border-radius: 20px;
  }
}

.book-actions-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--color-lines) 0.2rem solid;
  border-radius: 5px;
  margin: 0.5rem;

  p {
    width: 50%;
    padding: 0;
    margin: 0;
    font-size: 1.5rem !important;
    color: var(--color-footer);
  }

  span {
    color: black;
  }
}

.row-buttons {
  width: 100%;
  display: flex;
  height: auto;

  button {
    margin: 0.8rem;
    font-size: 1rem;
  }
}

.row-four {
  p {
    width: 100%;
  }
}

.modal-header {
  display: flex;
  flex-direction: column;

  p {
    font-size: 1.4rem;
    margin: 1rem;
  }

  ul {
    list-style: circle;
    font-size: 1.3rem;
  }
}

.modal-image {
  width: 12rem;
  height: auto;
}

.modal-title {
  text-align: center;
  width: 80%;
  border-bottom: var(--color-lines) 2px solid;
  font-size: 2rem;
}

.modal-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal-body-edit {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-body-edit-user {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-form-edit-user {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;

  div {
    margin: 0 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.form-leed-book {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 1rem;

  input {
    margin: 1rem;
    width: 20rem;
  }
}

.position-form-books-leed {
  display: flex;
  align-items: center;
  align-content: center;
}

.error {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: 800;
}

.error-message {
  color: red !important;
}

.view-profile {

  color: black;
}

.content-perfil {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.row-profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: center;

  p {
    width: 50%;
    color: var(--color-nav-footer);
    font-size: 1.2rem;
    margin: 0;
  }

  span {
    color: black;
    font-size: 1.2rem;
    margin: 0;
  }
}

.view-blog {
  width: 100%;
  background-color: var(--color-footer);
  font-family: var(--font-text-p);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;

  h2 {
    border: none;
  }
}

.span-orange {
  color: var(--color-buttons);
}

.section-blog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  font-family: var(--font-titles-h);

  img {
    width: 20rem;
    height: auto;
  }

  h1 {
    width: 50%;
    text-align: start;
  }
}

.section-blog-buttons {
  width: 60%;
}

.column-contain-blog {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.components-information-blog {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: var(--image-login);
  background-attachment: fixed;
  flex-wrap: wrap;
}

.cards-blog {
  margin: 1rem;
  width: 18rem;
  min-height: 20rem;
  background-color: rgb(250, 250, 250);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  box-shadow: .5px .5px 10px black;

  p {
    text-align: center;
    width: 60%;
    padding: 0;
    margin: 0;
    font-size: 2rem;
    font-family: var(--font-titles-h);

    i {
      color: var(--color-lines);
      font-size: 5rem;
    }
  }
}
.views-favorite-book{
  color: black;
}

@media (max-width: 425px) {
  .form-login {
    width: 75%;
  }

  .view-inicio-admin {
    margin: 0;
  }

  .header {
    width: 100%;
  }
  .header-logo{
  width: 20%;
    img{
      width: 5rem;
    }
  }
  .header-title {
    p {

      font-size: 1rem;
    }
  }
}